{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },"rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ],
        "allowAfterThis": true
      }
    ],
    "no-console": "off"
  }
}