.news-card {
  width: 288px;
  height: 444px;
  border-radius: 15px;
  position: relative;
  background: var(--light);
}

.news-card__content {
  width: 100%;
  height: 234px;
  padding: 16px;
  box-sizing: border-box;
}

.news-card__image {
  width: 288px;
  height: 196px;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news-card__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--light);
  outline: none;
}

.news-card__icon_action_save {
  background-image: url("../../images/bookmark.svg");
}

.news-card__icon_action_save:hover {
  background-image: url("../../images/bookmark-black.svg");
}

.news-card__icon_action_save_active {
  background-image: url("../../images/bookmark-filled.svg");
}

.news-card__icon_action_delete {
  background-image: url("../../images/trash-icon.svg");
}

.news-card__date {
  margin-bottom: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #b6bcbf;
}

.news-card__title {  
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: var(--dark);
  text-overflow: ellipsis;
  text-decoration: none; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card__text {
  width: 256px;
  height: 66px;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
}

.news-card__source {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.news-card__label {
  width: auto;
  height: 40px;
  padding: 0 22px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  color: var(--black);
  text-align: center;
  text-transform: capitalize;
}

.news-card__label_right {
  padding: 0 26px;
  position: absolute;
  top: 24px;
  right: 69px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, .1);
  font-size: 12px;
  cursor: pointer;
}

.news-card__label_hidden {
  display: none;
}

.news-card__label_tag {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 14px;
  padding: 0 22px;
}

.news-card__icon_action_delete {
  background-image: url("../../images/trash-icon.svg");
}

.news-card__icon_action_delete:hover {
  background-image: url("../../images/trash_black.svg");
}
  
@media screen and (min-width: 768px) {
  .news-card {
    width: 224px;
    height: 420px;
  }

  .news-card__content {
    width: 224px;
    height: 270px;
  }

  .news-card__image {
    width: 224px;
    height: 150px;
  }

  .news-card__date {
    margin-bottom: 10px;
  }

  .news-card__title {
    height: 72px;
    margin-bottom: 10px;
    text-decoration:none;
    font-size: 22px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .news-card__title:visited {
    text-decoration: none;
    color: black;
  }

  .news-card__text {
    height: 88px;
    width: 192px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .news-card__source {
    width: 192px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .news-card__icon {
    top: 8px;
    right: 8px;
  }

  .news-card__label {
    top: 8px;
    left: 10px;
  }

  .news-card__label_right {
    width: 120px;
    height: 40px;
    padding: 0 22px;
  }
}

@media (min-width: 1024px) {
  .news-card {
    width: 320px;
    height: 419px;
  }

  .news-card__image {
    width: 320px;
    height: 150px;
  }

  .news-card__content {
    width: 320px;
    height: 270px;
  }

  .news-card__text {
    width: 288px;
  }

  .news-card__source {
    width: 280px;
  }

  .news-card__label_right {
    right: 50px;
    left: auto;
  }
}

@media (min-width: 1440px) {
  .news-card {
    width: 400px;
    height: 576px;
  }

  .news-card__image {
    width: 400px;
    height: 272px;
  }

  .news-card__content {     
    width: 400px;
    height: 304px;
    padding: 17px 24px 24px;
  }

  .news-card__title {
    font-size: 26px;
    line-height: 30px;
  }

  .news-card__text {
    width: 352px;
    height: 110px;
    margin-bottom: 18px;
    -webkit-line-clamp: 5;
  
  }

  .news-card__source {
    width: 352px;
  }
}