.popup__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -38.29px;
  right: 21px;
  border: none;
  background: none;
  background-image: url("../../images/close-icon.svg");
  background-size: cover;
}

.popup__content {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: fixed;
  top: 20%;
  left: 0%;
  background: none;
}

.popup__content_signin {
  width: 100%;
  height: 380px;
}

.popup__content_signup {
  width: 100%;
  height: 430px;
}

.popup__content_success {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.popup__form {
  width: 100%;
  height: 100%;
  padding: 16px 17px 28px;
  box-sizing: border-box;
  position: relative;
  background-color: var(--light);
  align-items: center;
  border-radius: 16px;
  opacity: 1;
  z-index: 1;
}

.popup__form_success {
  padding: 45px 36px 51px;
}

.popup__heading {
  font-family: "Roboto Regular", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 22px;
  color: var(--black);
}

.popup {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

@media screen and (min-width: 514px) {
  .popup__content {
    width: 100vw;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    top: 20%;
    left: 0%;
  }
  .popup__close {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  .popup__form {
    padding: 16px;
  }
  .popup__form_success {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .popup__close {
    width: 24px;
    height: 24px;
    top: -40px;
    right: -40px;
  }

  .popup__form {
    padding: 34px 36px 28px;
  }

  .popup__content_signin {
    width: 430px;
    height: 380px;
  }

  .popup__content_signup {
    height: 457px;
    width: 430px;
  }

  .popup__content_success {
    height: 182px;
    width: 430px;
    border-radius: 16px;
  }

  .popup__content {
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -185px;
    margin-left: -235px;
  }
}





.popup__input {
  width: 358px;
  height: 33px;
  margin: 0 0 3px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  background-color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
  outline: none;
}

.popup__input::placeholder {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
  opacity: .2;
}

.popup__label {
  margin: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f71e5;
}
  
.popup__input-error {
  font-family: "Inter", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 1;
  color: #ff0000;
  height: 14px;
  padding: 0;
  margin: 0 0 13px;
}

.popup__link-container {
  width: 226px;
  height: 20px;
  margin: 0 auto;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
  
.popup__link {
  margin: 5px;
  color: #2f71e5;
}
  
.popup__link:visited {
  color: var(--light);
}

.popup__link_success {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.popup__btn {
  height: 64px;
  width: 360px;
  border: none;
  border-radius: 100px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, .2);
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--light);
  text-align: center;
  outline: none;
  caret-color: #2f71e5;
  }

.popup__btn_signin {
  margin: 15px 0 16px;
}
  
.popup__btn:disabled {
  background: #e6e8eb;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #b6bcbf;
  box-shadow: none;
}

  
@media screen and (max-width: 380px) {
  .popup__btn {
    width: 246px;
    height: 30px;
    padding: 0;
    margin-top: 18px;
  }
}
  
@media screen and (max-width: 514px) {
  .popup__input {
    width: 100%;
    margin-left: 0;
    margin-top: 9px;
  }

  .popup__btn {
    width: 288px;
    height: 64px;
    margin: 23px auto;
    display: block;
  }
}